.gradle
.idea
.settings
build/*
gradle/*
.classpath
.project
gradlew
gradlew.bat
local.properties
OsuSongPicker.iml
desktop/settings/*
desktop/bin/*
desktop/build/*
desktop/.classpath
desktop/.project
desktop/desktop.iml
desktop/OsuSongPicker-desktop.iml
library/settings/*
library/bin/*
library/build/*
library/.classpath
library/.project
library/library.iml
library/OsuSongPicker-library.iml
